<div class="container	content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">whishlist</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="ingresar nombre..." #nombre>
            </div>
            <div class="form-group">
              <label for="imagenUrl">imagen url</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="ingresar url..." #imagenurl>
            </div>
            <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, imagenurl.value)">guardar!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row">
    <app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
  </div>
</div>